/*------------Home index.ctp---------------*/
.content-box{
  display:table;
  width:100%;
  padding: 5px 5px 0px;
  margin-bottom:5px;
  border:1px solid;
  border-radius:3px;
  background-color:#efefef;
}
.user-img-box{
  display:table-cell;
  width:10%;
  height:100%;
  float:left;
}
.post-box{
  margin-top: 30px;
  margin-bottom: 60px;
}
.post-box input[type="text"]{
  float: left;
  width: 60%;
}
.post-box input[type="submit"]{
  float: left;
  width: 20%;
}
.post-box button{
  float:left;
}
.user-img-box img{
  width: 30px;
  border-radius: 15px;
  -moz-border-image: border-radius: 15px;
  -webkit-border-image: border-radius: 15px;
}
.contant-container p{
  margin: 0;
  text-align: left;
}
/*---------------favo------------------*/
.acfavo{
  color: red;
}

/*----------------nav-------------------*/
#li-f_req{
  position: relative;
}
#f-req-num{
  top: 6px;
  left:20px;
  position: absolute;
  width: 15px;
  height: 15px;
  color: red;
  background-color: #efefef;
  border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
text-align: center;
}
#mes-num{
  top: 6px;
  left:20px;
  position: absolute;
  width: 15px;
  height: 15px;
  color: red;
  background-color: #efefef;
  border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
text-align: center;
}
/*-------------Login-login.ctp-------------*/

.form-signin{
  max-width:350px;
  margin: 0 auto;
  padding: 10px;
  background-color: orange;
}
.form-signin input[type="text"]{
  width: 100%;
}
.form-signin input[type='submit']{
  width: 100%;
  margin-top: 5px;
}
/*----------------UserRegister-register.ctp------------*/
.form-user-register{
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
}
.form-user-register input[type='text'],
.form-user-register input[type='email']{
  width: 100%;
}
/*------------------MESSAGE-USER-LIST------------------*/
.message-user-box{
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border:1px solid #cccccc;
  background-color: #AAAAAA;
  z-index:2;
}
.message-user-num{
  top: -4px;
  right:-2px;
  position: absolute;
  width: 15px;
  height: 15px;
  color: red;
  background-color: #efefef;
  border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
text-align: center;
}
/*----------------------MESSAGEBOX (Modal)-------------------*/
.message-box{
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border:1px solid #cccccc;
  background-color: #AAAAAA;
  z-index:2;
  height: 300px;
}
#modal-overlay{
	z-index:1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	/*background-color:rgba(0,0,0,0.75);*/
}
.message-content-box{
  width: 100%;
  height: 270px;
  overflow-y: scroll;
}
.pa-mes-box{
  width: 100%;
}
.my-mes-box{
  width: 100%;
}
.my-mes{
  margin-left: 10%;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: solid #efefef;
  float: right;
  text-align: right;
  background-color: #fff;
  word-wrap:break-word;
}
.pa-mes{
  float: left;
  background-color: #fff;
  margin-right: 10%;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: solid #efefef;
  text-align: left;
  word-wrap:break-word;
}
.message-send-box{
    margin-bottom: 5px;
    bottom: 0;
}
/*------------------------mypost.ctp------------------*/
.userInfo-box-after{
  z-index: 6;
  background:#fff;
  background: #efefef;
  display: none;
}
table.mypage-user{
  text-align: center;
  line-height: 1.5;
}
table.mypage-user th{
  text-align: center;
}
table.mypage-user td{
  width: 100px;
}
.fuser-box span.active{
  color: lightgreen;
}
.mypage-btn-box{
  z-index: 1;
}
.btn-mypage{
  padding: 5px 10px;
  border: solid 1px;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
#btn-cancel,#btn-save{
  display: none;
  background: #efefef;
  float: left;
}
#btn-save{
  color: #333;
}
#ed-name{
  width: 150px;
}
#modal-overlay1{
	z-index:-1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
/*------------- Friends Requestbox---------------------*/
.friends-list-box{
  display: none;

}
/*----------------ユーザーページ UserImage--------------*/
.userImg-box img {
    width: 200px;
    border-radius: 100px;
    -moz-border-image: border-radius: 100px;
    -webkit-border-image: border-radius: 100px;
}
 /*change-imgsize-box アップロード画像のサイズの変更 */
 .change-imgsize-box{
   width: 300px;
   display: none;
 }
