/*------------Home index.ctp---------------*/
.post-box{
  margin-top: 30px;
  margin-bottom: 60px;
}
.post-box input[type="text"]{
  float: left;
  width: 70%;
}
.post-box input[type="submit"]{
  float: left;
  width: 20%;
}
.content-box{
  width: 100%;
  padding: 5px;
}
.user-img-box img{
  width: 30px;
  border-radius: 15px;
  -moz-border-image: border-radius: 15px;
  -webkit-border-image: border-radius: 15px;
}
.contant-container p{
  margin: 0;
  text-align: left;
}

/*----------------nav-------------------*/
#li-f_req{
  position: relative;
}
#f-req-num{
  top: 6px;
  left:20px;
  position: absolute;
  width: 15px;
  height: 15px;
  color: red;
  background-color: #efefef;
  border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
text-align: center;
}

/*-------------Login-login.ctp-------------*/

.form-signin{
  max-width:350px;
  margin: 0 auto;
  padding: 10px;
  background-color: orange;
}
.form-signin input[type="text"]{
  width: 100%;
}
.form-signin input[type='submit']{
  width: 100%;
  margin-top: 5px;
}
/*----------------UserRegister-register.ctp------------*/
.form-user-register{
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
}
.form-user-register input[type='text'],
.form-user-register input[type='email']{
  width: 100%;
}

/*ユーザーページ UserImage*/
.userImg-box img {
    border-radius: 100px;
    -moz-border-image: border-radius: 100px;
    -webkit-border-image: border-radius: 100px;
}
/*MESSAGE-USER-LIST*/
.message-user-box{
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border:1px solid #cccccc;

}
/*MESSAGEBOX*/
.message-box{
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border:1px solid #cccccc;

}
